ul.twitter_fetch li {
	border-bottom: 1px solid #CCCCCC;
    list-style-type: none;
    margin: 0 0 10px;
    padding: 0 0 10px;
}
ul.twitter_fetch li.last {
	border-bottom: none;
}
ul.twitter_fetch li img {
	float: left;
    margin: 0 10px 10px 0;
}
ul.twitter_fetch li p {
	margin-bottom: 0;
}
ul.twitter_fetch li em {
	color: #666666;
}
